header {
  width: 100%;
  height: 7rem;
  background-color: skyblue;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li a {
  text-decoration: none;
  display: block;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
}
.NavActive {
  background-color: blueviolet;
  color: white;
  border-radius: 0.5rem;
}
.badge-container {
  position: relative;
  display: flex;
}
.badge-container span {
  position: absolute;
  left: 6rem;
  bottom: 1.7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 2rem;
  width: 2rem;
  background-color: royalblue;
}
